.circs {
	padding-top: rem(105);
	padding-bottom: rem(140);
	background: url("../../assets/img/circls/back.png") no-repeat center center/cover;

	@media($mobile) {
		padding-top: rem(65);
		padding-bottom: rem(50);
	}
}

.circs__wrapp {
	padding-top: rem(65);
	display: grid;
	grid-template-columns: 0.7555fr 1fr 0.635fr;
	grid-template-rows: auto auto;
	align-items: center;
	grid-template-areas:
		"circs__box-1 circls-img circs__box-3"
		"circs__box-2 circls-img circs__box-4"
	;

	@media($notebook) {
		grid-template-columns: 1fr 1.2fr 1fr;
	}

	@media($tablet) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"circs__box-1   circs__box-3"
			"circs__box-2   circs__box-4"
			"circls-img circls-img"
		;
		gap: rem(15);
	}

	@media($mobile) {
		display: block;
		max-width: rem(400);
		margin-left: auto;
		margin-right: auto;
		padding-top: rem(30);
	}
}

.circs__box {
	background: #FDFDFD;
	padding: rem(68) rem(50) rem(40) rem(100);

	@media($notebook) {
		padding: rem(25) rem(30);
	}

	@media($tablet) {
		border-radius: rem(33) !important;
		padding: rem(30) rem(25) rem(40) rem(25) !important;
		height: 100%;
	}
}

@media($mobile) {
	.circs__box+.circs__box {
		margin-top: rem(14);
	}
}

.circs__box-1 {
	grid-area: circs__box-1;
	margin-top: auto;
	margin-bottom: 0;
	border-radius: rem(42) 0 0 0;
	padding-left: rem(92);

	.circs__box-title {
		max-width: rem(175);
	}

	@media($notebook) {
		padding-left: rem(30);
	}
}

.circs__box-2 {

	grid-area: circs__box-2;
	margin-top: 0;
	margin-bottom: auto;
	border-radius: 0 0 0 rem(42);
	padding-top: rem(25);
	padding-bottom: rem(85);
	padding-left: rem(92);

	@media($notebook) {
		padding-top: rem(25);
		padding-bottom: rem(25);
		padding-left: rem(30);
	}
}

.circs__box-3 {
	margin-top: auto;
	margin-bottom: 0;
	grid-area: circs__box-3;
	border-radius: 0 rem(42) 0 0;
}

.circs__box-4 {
	grid-area: circs__box-4;
	margin-top: 0;
	margin-bottom: auto;
	border-radius: 0 0 rem(42) 0;
	padding-top: rem(25);
	padding-bottom: rem(85);

	.circs__box-text {
		max-width: rem(230);
	}

	@media($notebook) {
		padding-top: rem(25);
		padding-bottom: rem(25);
	}
}

.circls-img {
	grid-area: circls-img;
	display: block;
	box-shadow: -39px 459px 184px rgba(107, 107, 107, 0.01), -22px 258px 155px rgba(107, 107, 107, 0.05), -10px 115px 115px rgba(107, 107, 107, 0.09), -2px 29px 63px rgba(107, 107, 107, 0.1);
	border-radius: rem(42);

	img,
	svg {
		width: 100%;
		object-fit: contain;
	}

	@media($tablet) {
		max-width: rem(500);
		margin-left: auto;
		margin-right: auto;

	}

	@media($mobile) {
		margin-top: rem(30);
	}
}

.circs__box-img {
	width: rem(56);
	height: rem(56);
	display: block;

	@media($tablet) {
		margin-left: auto;
		margin-right: auto;

	}

	@media($mobile) {
		width: rem(60);
		height: rem(60);
	}
}


.circs__box-title {
	font-style: normal;
	font-weight: 500;
	@include fluid-text(28.8889, 23);
	line-height: 103%;
	color: #1B1B1B;
	padding-top: rem(30);

	@media($tablet) {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: rem(17);
	}
}

.circs__box-text {
	font-style: normal;
	font-weight: 400;
	@include fluid-text(16, 15);
	line-height: 134%;
	letter-spacing: 0.03em;
	color: #000000;
	padding-top: rem(15);
	max-width: rem(272);

	@media($tablet) {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: rem(10);
		max-width: rem(300) !important;
	}
}