.service__box-title {
	font-weight: 500;
	@include fluid-text(28.8889, 25);
	line-height: 103%;
	color: #1B1B1B;
}

.service__wrapp {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: rem(25);
	grid-template-areas:
		"service__box-1 service__box-2 service__box-4 service__box-4"
		"service__box-5 service__box-3 service__box-4 service__box-4"
		"service__box-7 service__box-7 service__box-6 service__box-6 "
	;
	padding-top: rem(85);

	@media(max-width:rem(1380)) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"service__box-1 service__box-2"
			"service__box-5 service__box-3"
			"service__box-4 service__box-4"
			"service__box-6 service__box-6"
			"service__box-7 service__box-7"
		;
		max-width: rem(900);
		margin-left: auto;
		margin-right: auto;
	}

	@media($mobile) {
		display: block;
		padding-top: rem(35);
	}
}

.service__box-text {
	font-style: normal;
	font-weight: 400;
	@include fluid-text(16, 15);
	line-height: 134%;
	letter-spacing: 0.03em;
	color: #000000;

	padding-top: rem(10);
}

.service__box-img {

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: rem(38);
	padding-left: rem(38);
	padding-right: rem(38);

	img,
	svg {
		flex-shrink: 0;
		width: 100%;
		height: auto;
		object-fit: contain;
	}

}

.service__box-1 {
	grid-area: service__box-1;

	.service__box-img {
		padding-top: rem(8);
	}

	.service__box-wrapp {
		padding-top: 0;

		@media($mobile) {
			padding-top: rem(30);
			padding-bottom: rem(25);
		}
	}
}

.service__box-2 {
	grid-area: service__box-2;

	.service__box-img {
		padding-right: rem(19);
		padding-left: rem(19);
	}

	.service__box-wrapp {
		padding-top: rem(40);

		@media($mobile) {
			padding-top: rem(55);
		}
	}
}

.service__box-3 {
	grid-area: service__box-3;

	.service__box-img {
		@media($mobile) {
			padding-left: rem(15);
			padding-right: rem(19);
			padding-top: rem(34);
		}
	}

	.service__box-wrapp {
		padding-top: 0;

		@media($mobile) {
			padding-top: rem(15);
		}
	}
}

.service__box-4 {
	grid-area: service__box-4;

	.service__box-img {
		padding-top: rem(56);
		padding-right: rem(94);
		padding-left: rem(50);

		@media($mobile) {
			padding-right: rem(8);
			padding-left: rem(19);
			padding-top: rem(10);
		}
	}

	.service__box-wrapp {
		padding-bottom: rem(60);

		@media($mobile) {
			padding-top: 0;
			padding-bottom: rem(30);
			margin-top: - rem(10);
		}
	}
}

.service__box-5 {
	grid-area: service__box-5;

	.service__box-img {
		padding-right: rem(10);
		padding-left: rem(10);

		@media($mobile) {
			padding-top: rem(5);
		}
	}

	.service__box-wrapp {
		padding-top: rem(8);

		@media($mobile) {
			padding-top: rem(15);
		}
	}
}

.service__box-6 {
	grid-area: service__box-6;

	.service__box-img {
		padding-top: rem(49);
		padding-left: rem(75);
		padding-right: rem(90);

		@media($mobile) {
			padding-top: rem(23);
			padding-left: rem(8);
			padding-right: rem(16);
		}
	}

	.service__box-wrapp {
		padding-bottom: rem(55);

		@media($mobile) {
			padding-bottom: rem(25);
			padding-top: rem(30);

		}
	}
}

.service__box-7 {
	grid-area: service__box-7;

	.service__box-img {
		padding-top: rem(10);
		padding-left: rem(20);
		padding-right: rem(20);

		@media($mobile) {
			padding-top: rem(10);
			padding-left: rem(4);
			padding-right: rem(2);
		}
	}

	.service__box-wrapp {
		max-width: rem(420);
		padding-top: 0;
		padding-bottom: rem(55);

		@media($mobile) {

			padding-right: rem(35);
			padding-top: rem(15);
			padding-bottom: rem(30);
		}
	}
}

.service__box {
	background: #FBFAFF;
	border: rem(1) solid #E9E2FF;
	border-radius: rem(42);
	display: flex;
	flex-direction: column;
}

@media($mobile) {
	.service__box+.service__box {
		margin-top: rem(15);
	}
}

.service__box-wrapp {
	margin-top: auto;
	margin-bottom: 0;

	padding-top: 19px;
	padding-left: 38px;
	padding-bottom: rem(30);
	padding: rem(20) rem(40) rem(30) rem(40);
}