*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'FormaDJRCyrillicDisplay', sans-serif;
}

a {
	text-decoration: none;
	transition: .4s;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: .4s;
}



.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;
}


/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.container {
	width: 100%;
	max-width: rem(1551);
	margin-left: auto;
	margin-right: auto;
	padding-left: rem(20);
	padding-right: rem(20);

}

time {
	display: block;
}



body {
	position: relative;
	background: url("../../assets/img/back.png")no-repeat center top, #F4F6FA;
	background-size: 100%;
	background-blend-mode: overlay;

}

html {
	&._fixed {
		@media(max-width:rem(992)) {
			overflow: hidden;
		}
	}
}