@use 'sass:math';

/* @include fluid-text(40, 28)
	$max- максимальный размер шрифта
	$min- минимальный размер шрифта
*/
@mixin fluid-text($max: 48, $min: 16) {
	// максимальная ширина сайта по макету
	$maxViewportWidth: 1550;
	// минимальная ширина сайта по макету
	$minViewportWidth: 360;

	$maxSize: math.div($max, 16);
	$minSize: math.div($min, 16);
	$maxWidth: math.div($maxViewportWidth, 16);
	$minWidth: math.div($minViewportWidth, 16);

	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;

	font-size: clamp(#{$minSize * 1rem},
		#{$yAxisIntersection * 1rem} + #{$slope * 100vw},
		#{$maxSize * 1rem});
}


@mixin img-tex-height($max: 48, $min: 16) {
	// максимальная ширина сайта по макету
	$maxViewportWidth: 1550;
	// минимальная ширина сайта по макету
	$minViewportWidth: 360;

	$maxSize: math.div($max, 16);
	$minSize: math.div($min, 16);
	$maxWidth: math.div($maxViewportWidth, 16);
	$minWidth: math.div($minViewportWidth, 16);

	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;

	height: clamp(#{$minSize * 1rem},
		#{$yAxisIntersection * 1rem} + #{$slope * 100vw},
		#{$maxSize * 1rem});
}