// root
:root {
	--index: calc(1vw + 1vh);
}

// fonts



// media
$macbook: "max-width: #{rem(1680)}";
$notebook: "max-width:#{rem(1440)}";
$laptop: "max-width:#{rem(1240)}";
$tablet: "max-width: #{rem(992)}";
$min-tablet: "min-width:#{rem(992)} ";
$mobile: "max-width:#{rem(767)} ";